.f1
{
text-decoration:underline;
font-family:Copperplate Gothic Light;
font-size:20pt;
}

.bob
{
 background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
font-size:17pt;
 
}
body
{
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.ta
{
background-image:linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) ;
}


.l1:link {
  color: green;
}

.l1:visited {
  color: blue;
}


.l1:hover {
  color: red;
}


.l1:active {
  color: yellow;
} 

.l2:link {
  color: green;
}

.l2:visited {
  color: blue;
}


.l2:hover {
  color: red;
}


.l2:active {
  color: yellow;
} 

.cap
{
font-weight:bold;
text-align:center;
font-size:20pt;
text-decoration:underline;
font-family:Copperplate Gothic Light;
}
.ct1
{
font-weight:bold;
text-align:center;
font-size:15pt;
text-decoration:underline;
font-family:Copperplate Gothic Light;
}
.ct2
{
font-weight:bold;
text-align:center;
font-size:15pt;
text-decoration:underline;
font-family:Copperplate Gothic Light;
}
